.ship-grid {
  display: grid;
 	position: relative;
}

.ship-grid .grid {
  position: relative;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}


.ship-grid .ship {
  position: absolute;
  left: calc(var(--col) * var(--cell-size));
  top: calc(var(--row) * var(--cell-size));
}

