.fleet-display{
    --display-down-scale: 0.2;
}

.fleet-display tr {
    height: calc(var(--cell-size) * var(--display-down-scale));
}

.fleet-display td {
    width: calc(var(--cell-size) * var(--display-down-scale));
    height: calc(var(--cell-size) * var(--display-down-scale));
}

.fleet-display .spacer {
    visibility: hidden;
}

.fleet-display .hit {
    background-color: red;
}

.fleet-display .ship-cell {
    border: 2px solid black;
    background-color: lightgray;
}