.fleet-display{
    --display-down-scale: 0.2;
    border-collapse: separate; 
    border-spacing: calc(var(--cell-size) * 0.05) calc(var(--cell-size) * 0.15); /* Add gap only between rows */
}


.fleet-display tr {
    height: calc(var(--cell-size) * var(--display-down-scale));
}

.fleet-display td {
    width: calc(var(--cell-size) * var(--display-down-scale));
    height: calc(var(--cell-size) * var(--display-down-scale));
}

.fleet-display .spacer {
    visibility: hidden;
}

.fleet-display .ship-cell.hit {
    background-color: red;
}

.fleet-display .ship-cell {
    border: 2px solid black;
    background-color: lightgray;
}