.pregame-game-id {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
  background: var(--bg-color);
  border-radius: 6px;
  padding: 0.5rem 1.5rem;
  margin: 1rem auto 1.5rem auto;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}



.ships-no-pointer .ship:not(.clone) {
	pointer-events: none !important;
}