/* CSS Modules for pregame buttons */
#resetButton {
  background: #f44336;
}
#resetButton:hover {
  background: #d32f2f;
}

#readyButton {
  background: #388e3c;
}
#readyButton:hover {
  background: #2e7d32;
}

#randomButton {
  background: #1976d2;
}
#randomButton:hover {
  background: #1565c0;
}
