.pregame-ship-grid .ship:not(.clone):hover {
  cursor: grab;
  background: var(--ship-highlight-bg);
  border-color: #1b5e20;
  transform: scale(1.05);
  transition: transform 0.1s, background 0.1s, border-color 0.1s;
}

